<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <%# google fonts %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://www.griffininsight.com/css/animate.css" />
  <link rel="stylesheet" href="css/styles.css" />

<body>
